@mixin SnBtnStnd {
  line-height: 2.2em;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: var(--snColorText);
  border: 1px solid var(--snColorBorder);
  text-decoration: none;
}

@mixin SnBtn {
  .#{$classPrefix}Btn {
    @include SnBtnStnd;

    &.loading {
      @include SnLoadingTemplate(1em);
      padding-left: 15px + 24;
      &::before {
        border: 2px solid var(--snColorText);
      }
    }

    &.block {
      width: 100%;
      display: block;
    }
    &:hover {
      color: var(--snColor1);
      border-color: var(--snColor1);
    }
    &:focus,
    &:active {
      outline: 0;
      color: var(--snColor1Dark);
      border-color: var(--snColor1Dark);
    }
    &.sm {
      line-height: 1.6em;
    }
    &.lg {
      line-height: 2.6em;
    }
    &.primary {
      color: var(--snColor1Inverse);
      background-color: var(--snColor1);
      border-color: var(--snColor1);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
      &:hover {
        background-color: var(--snColor1Light);
        border-color: var(--snColor1Light);
      }
      &:focus,
      &:active {
        background-color: var(--snColor1Dark);
        border-color: var(--snColor1Dark);
      }
      &.loading::before {
        border: 2px solid var(--snColor1Inverse);
      }
    }
    &.success {
      color: white;
      background-color: var(--snSuccessLight);
      border-color: var(--snSuccessLight);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
      &:hover {
        background-color: var(--snSuccess);
        border-color: var(--snSuccess);
      }
      &:focus,
      &:active {
        background-color: #25a135;
        border-color: #25a135;
      }
      &.loading::before {
        border: 2px solid white;
      }
    }
    &.warning {
      color: white;
      background-color: var(--snWarningLight);
      border-color: var(--snWarningLight);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
      &:hover {
        background-color: var(--snWarning);
        border-color: var(--snWarning);
      }
      &:focus,
      &:active {
        background-color: #ffa600;
        border-color: #ffa600;
      }
      &.loading::before {
        border: 2px solid white;
      }
    }
    &.error {
      color: white;
      background-color: var(--snErrorLight);
      border-color: var(--snErrorLight);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
      &:hover {
        background-color: var(--snError);
        border-color: var(--snError);
      }
      &:focus,
      &:active {
        background-color: var(--snErrorDark);
        border-color: var(--snErrorDark);
      }
      &.loading::before {
        border: 2px solid white;
      }
    }
    &.white {
      color: var(--snColor1Dark);
      background: white;
      border-color: white;
      &:hover {
        background-color: white;
        border-color: white;
      }
      &:focus,
      &:active {
        background-color: white;
        border-color: white;
      }
      &.loading::before {
        border: 2px solid var(--snColor1Dark);
      }
    }
    &[disabled]:active,
    &[disabled]:focus,
    &[disabled]:hover,
    &[disabled] {
      opacity: 0.6;
      box-shadow: none;
      touch-action: none;
      pointer-events: none;
    }
  }
}

@mixin SnBtns {
  .#{$classPrefix}Btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .#{$classPrefix}Btn {
      border-radius: 0;
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}
