@mixin SnModal {
  .#{$classPrefix}Modal-wrapper,
  [data-modal] {
    box-sizing: border-box;
  }

  .#{$classPrefix}Modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);

    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: 0.35s ease-in-out;
    pointer-events: none;
    overflow-y: auto;
  }

  .#{$classPrefix}Modal-wrapper.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .#{$classPrefix}Modal {
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: var(--snColorBgAlt);
    border-radius: 4px;
    margin: 8px auto 32px;

    // More
    width: 100%;
    max-width: 520px;
    top: 100px;

    &.confirm{
      max-width: 416px;
    }

    &-close {
      width: 56px;
      height: 56px;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.4s;
      svg {
        color: var(--snColorText);
      }
      &:hover {
        opacity: 1;
      }
    }
    &-header {
      padding: 16px 24px;
      color: var(--snColorText);
      // font-weight: bold;
      box-shadow: 0 1px var(--snColorBorder);
      border-radius: 4px 4px 0 0;
    }
    &-body {
      padding: 24px;
      &.confirm{
        padding: 32px 32px 24px;
      }
    }
    &-confirmTile{
      font-weight: 500;
      font-size: 16px;
    }
    &-confirmContent{
      color: var(--snColorTextAlt);
      margin-top: 12px;
      font-size: .9em;
    }
    &-confirmBtns{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 24px;
      & > * {
        margin-right: 8px;
      }
    }
  }
}
