@mixin SnTable {
    .#{$classPrefix}Table-wrapper{
        overflow-y: auto;
    }

    .#{$classPrefix}Table{
        width: 100%;
        border-collapse: collapse;
        th,
        td{
            border: 1px solid var(--snColorBorder);
            padding: 8px 8px;
            text-align: left;
        }
        thead,
        tbody{
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
        }
        tr{
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            &:hover{
                background: var(--snColorHover);
            }
        }
        &-action{
            display: flex;
            align-items: center;
            & > *{
                margin-right: 8px;
            }
        }
    }
}