:root{
  //--snColorBg: var(--snColorDark);
  //--snColorBgAlt: var(--snColorDarker);
  //--snColorHover: var(--snColorDarkest);
  //
  //--snColorText: var(--snColorDarkInverse);
  //--snColorTextAlt: #94aab9;
  //
  //--snColorBorder: var(--snColorDark);

  --snColor1Lighter: #FF7875;
  --snColor1Light: #FF4D4F;
  --snColor1: #F5222D;
  --snColor1Dark: #CF1322;
  --snColor1Darker: #A8071A;
  --snColor1Inverse: #FFFFFF;
}