:root{
  --snColorBg: var(--snColorDark);
  --snColorBgAlt: var(--snColorDarker);
  --snColorHover: var(--snColorDarkest);

  --snColorText: var(--snColorDarkInverse);
  --snColorTextAlt: #94aab9;

  --snColorBorder: var(--snColorDark);
}