@import "sedna/sedna";
@import "_postConfig";


// Base
@include SnBase();
@import "_base";

// Components
@include SnMenu();
@include SnBtn();
@include SnBtns();
@include SnAlert();
@include SnCard();
@include SnForm();
@include SnInput();
@include SnAvatar();
@include SnGrid();
@include SnLoading();
@include SnMargin();
@include SnModal();
@include SnMessage();
@include SnPagination();
@include SnTable();

@import "admin/Layout";
@import "admin/Header";
@import "admin/HeaderMenu";
@import "admin/AsideMenu";
@import "admin/SnToolbar";

@import "admin/InfiniteScroll";
@import "admin/CustomerRow";
@import "admin/PassCustomer";
@import "admin/PassPassword";

@import "admin/Tooltip";
@import "admin/SnSwitch";
@import "admin/UserRole";
@import "admin/desktop";
@import "admin/User";

.hidden{
  opacity: 0;
  pointer-events: none;
}

.SnTag{
  font-size: .8rem;
  line-height: 1rem;
  height: 1rem;
  padding: 0 .3rem;
  display: block;
  border-radius: .2em;
  &.primary{
    background: var(--snColor1);
    color: var(--snColor1Inverse);
  }
  &.success{
    background: var(--snSuccess);
    color: var(--snSuccessInverse);
  }
}