:root{
    --snColor1Lighter: #69C0FF;
    --snColor1Light: #40A9FF;
    --snColor1: #1890FF;
    --snColor1Dark: #096DD9;
    --snColor1Darker: #0050B3;
    --snColor1Inverse: #FFFFFF;
    
    // second color
    --snColor2Lighter: #ffd685;
    --snColor2Light: #ffc757;
    --snColor2: #faad14;
    --snColor2Dark: #ffa600;
    --snColor2Darker: #eb9c00;
    --snColor2Inverse: #FFFFFF;

    // Colores que se usaran en los estados del calendario
    --snErrorLight: #FF4D4F;
    --snError: #F5222D;
    --snErrorDark: #CF1322;
    --snErrorInverse: white;

    --snSuccessLight: #73D13D;
    --snSuccess: #52C41A;
    --snSuccessDark: #389E0D;
    --snSuccessInverse: white;

    --snWarningLight: #FFEC3D;
    --snWarning: #FADB14;
    --snWarningDark: #D4B106;
    --snWarningInverse: #3d2501;

    // Colores de fondo
    --snColorBg: #EFF3F6;
    --snColorBgAlt: #ffffff;
    --snColorHover: #0000000d;

    // Colores de texto
    --snColorText: #262626;
    --snColorTextAlt: #595959;
    
    // Color del borde de forma general
    --snColorBorder: #DFE2E2;

    // Darck styles
    --snColorDarkSmoother: #4f7087;
    --snColorDarkSmooth: #3c5567;
    --snColorDark: #2a3b47;
    --snColorDarker: #22303a;
    --snColorDarkest: #1a252d;
    --snColorDarkInverse: #b6bcc0;

    //--snColorDarkAlt: #22303a; // deprecated next version
}