.Header{
    display: flex;
    justify-content: space-between;
    background: var(--snColorBgAlt);
    border-bottom: 1px solid var(--snColorBorder);
}

#AsideMenu-toggle{
    padding: 0 16px;
    cursor: pointer;
    &:hover{
        background: var(--snColorHover);
    }
}
