.PassPassword{
    //display: flex;
    //flex-wrap: wrap;
    //$charKeyAvatarSize: 120px;
    &-title{
        font-size: 1.2rem;
        display: block;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }
    &-header{
        // width: $charKeyAvatarSize;
        //flex: 0 0 $charKeyAvatarSize;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        //.SnAvatar{
        //    width: $charKeyAvatarSize;
        //    height: $charKeyAvatarSize;
        //    background: var(--snColorHover);
        //    color: var(--snColor1);
        //    font-size: 3rem;
        //    display: flex;
        //    justify-content: center;
        //    align-items: center;
        //    text-transform: uppercase;
        //    &.rect{
        //        border-radius: 0;
        //    }
        //}

    }
    &-content{
        flex: 1 1 auto;
        .Credential{
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            border: 1px dashed var(--snColorBorder);
            background: var(--snColorBg);
            padding: 2rem 1rem;
            border-radius: 4px;
            &-secret{
                font-size: 0;
            }
            &-item{
                @include to(m){
                    margin-bottom: 1rem;
                }
            }
        }
    }
    &-footer{
        width: 100%;
        padding-top: 18px;
        margin-top: 18px;
    }
}
