.User{
  &-item{
    text-decoration: none;
    color: var(--snColorText);
    display: flex;
    align-items: center;

    line-height: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--snColorBorder);
    .SnAvatar{
      margin-right: 16px;
    }
  }
  &-description,
  &-title{
    margin: 0;
  }
}